[project]
	description = shell-script
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Daniel (lluzalves)
[access "refs/for/refs/*"]
	read = group user/Daniel (lluzalves)
	push = group user/Daniel (lluzalves)
	label-Code-Review = -2..+2 group user/Daniel (lluzalves)
	label-Verified = -1..+1 group user/Daniel (lluzalves)
	rebase = group user/Daniel (lluzalves)
	removeReviewer = group user/Daniel (lluzalves)
	submit = group user/Daniel (lluzalves)
[access "refs/heads/*"]
	read = group user/Daniel (lluzalves)
	create = group user/Daniel (lluzalves)
	push = +force group user/Daniel (lluzalves)
	pushMerge = group user/Daniel (lluzalves)
[access "refs/tags/*"]
	push = +force group user/Daniel (lluzalves)
	pushTag = group user/Daniel (lluzalves)
	pushSignedTag = group user/Daniel (lluzalves)
